<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<title>Webji</title>
		<script type="text/javascript">
					var pos = {
            x: {{ position.x }},
						y: {{ position.y }},
					},
					fullSize = {
            w: {{ board.w }},
						h: {{ board.h }},
					},
					actualSize = {};
		</script>
    <link href="http://fonts.googleapis.com/css?family=Orbitron:500" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<style type="text/css">
			html {
				background: #C7A13E;
			}

      footer {
        text-align: right;
        font-family: Orbitron, sans-serif;
        color: #F0D586;
        text-shadow: 0px 0px 4px #5A3111;
        padding: 0.5rem 1.0rem;
      }

      #numClients {
        float: left;
      }

      a {
        color: #F0D586;
        text-decoration: none;
        display: inline-block;

        transition: 0s 0.15s color;
      }

      a:hover { color: #E4BE5B; }

			#board {
				border-bottom: 3px solid #5A3111;
				box-shadow: 0px 1px 4px #5A3111;
				width: 100%;
				height: 100%;
			}

			#planchette { width: 200px; }

      #rotate-notice {
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 2em;
        padding-top: 3rem;
      }

      .fa-rotatedevice {
        -webkit-animation: fa-rotatedevice 2s infinite linear;
                animation: fa-rotatedevice 2s infinite linear;
      }

      @-webkit-keyframes fa-rotatedevice {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
        100% {
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
      }

      @keyframes fa-rotatedevice {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
        100% {
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
        }
      }
		</style>
	</head>
	<body style="margin:0;padding:0;">
		<div id="container" style="position:relative;overflow:hidden;">
			<img id="board" src="img/board.png">
      <div id="planchette" style="position:absolute;left:{{ position.x }}px;top:{{ position.y }}px;"><img src="img/planchette.png" style="overflow:hidden;"></div>
		</div>
    <footer>
      <div id="numClients"></div>
      <div class="attribution"><a href="http://oven.mindkitchen.co/">Cooked up by Mind Kitchen</a></div>

      <div id="rotate-notice">
        <i class="fa fa-5x fa-mobile fa-rotatedevice"></i>
        <p>Rotate your device</p>
        <p>Tap to lock screen</p>
      </div>
    </footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bundle.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1768996-27', 'mindkitchen.co');
      ga('send', 'pageview');
    </script>
	</body>
</html>
