<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Webji</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript">
					var pos = {
						x: <%= $x %>,
						y: <%= $y %>,
					},
					fullSize = {
						w: <%= $w %>,
						h: <%= $h %>,
					},
					actualSize = {};
		</script>
		<script type="text/javascript" src="/js/webji.js"></script>
		<script type="text/javascript" src="/js/client.js"></script>
		<style type="text/css">
			body {
				background: #C7A13E;
			}

			#board {
				border-bottom: 3px solid #5A3111;
				box-shadow: 0px 1px 4px #5A3111;
				width: 100%;
				height: 100%;
			}

			#planchette { width: 200px; }
		</style>
	</head>
	<body style="margin:0;padding:0;">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	 	<div id="placeholder"></div>
		<script>
			CFInstall.check({
				node: "placeholder",
				destination: "http://webji.heroku.com/"
			});
		</script>
		<div id="container" style="position:relative;overflow:hidden;">
			<img id="board" src="img/board.png">
			<div id="planchette" style="position:absolute;left:<%= $x %>px;top:<%= $y %>px;"><img src="img/planchette.png" style="overflow:hidden;"></div>
		</div>
	</body>
</html>
